@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/*font-family: 'Arvo', serif;
normal text*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;
Titles*/

html {
    scroll-behavior: smooth;
}

#home{
    background-color: #15243C;
    color: white;
    text-align: center;
}

.logo{
    width: 450px;
    height: 300px;
}

.date{
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.buttons{
    margin: 0% 1%;
    position: relative;
    z-index:2;
}

.register{
    background-color: white;
}

.resume{
    background-color: white;
}

.parallax-one {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("../images/IMG_3394.JPG");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}
.text{
    color: black;
    margin: 0 3%;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.8;

}
.text p, .text li{
    margin: 0 5%;

}

.about-title, .faq-title, .slider-title, .spon-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}
.faq-title, .slider-title, .spon-title{
    color: white;
}

.slider-title{

    margin-left: -20px;
    padding-bottom: 20px;

}

#text{
    font-family: 'Arvo', serif;
    font-size: 1.2em;
}

.inside-text1{
    margin-left: 2.8%;
}

.li-text{
    margin-bottom: 50%;
}

.accordion{

    margin: 70px 0px;
	width: 100%;

}
.accordion .contentBx{

	position: relative;
	height: auto;
	margin: 10px 20px;

}
.accordion .contentBx .label{

	position: relative;
	padding: 10px;
	background: #15243c;
	color: #fff;
	cursor: pointer;
    opacity: 90%;

}
.accordion .contentBx .label:before{

	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;

}
.accordion .contentBx.active .label:before{

	content: '-';

}
.accordion .contentBx .content{

	opacity: 80%;
	overflow: hidden;
	height: 0;
	background: #fff;
	visibility: hidden;
	transition: 0.5s;
	overflow-y: auto;

}
.accordion .contentBx.active .content{

	height: 200px;
	padding: 10px;
	visibility: visible;

}

.label, .content{
    font-family: 'Arvo', serif;
}

.container1 {
	width: 1200px;
	margin: 10px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container1 .box1{
	position: relative;
	width: 250px;
	height: 250px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;

}
.container1 .box1 .imgBox1{
	position: relative;
	overflow: hidden;

}

.container1 .box1 .imgBox1 img{
	max-width:100%;
	transition: transform 2s;

}

.container1 .box1:hover .imgBox1 img{
	transform: scale(1.2);

}

.container1 .box1 .details1 {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	transform: scaleY(0);
	transition: transform .5s;
}

.container1 .box1:hover .details1 {
	transform: scaleY(1);

}

.container1 .box1 .details1 .content1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;

}

.container1 .box1 .details1 .content1 h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}

.container1 .box1 .details1 .content1 p{
	margin: 10px 0 0;
	padding: 0px;

}
/* Swiper Styles goes here*/
.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #15243c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 50px;
}

.swiper-slide img{

    height: 100%;
    width: 100%;

}

.swiper-button-prev{

    margin-left: 10px;

}

.swiper-button-next{

    margin-right: 10px;

}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/*let this be lowest part of this css page*/
#footer{
    color: white;
}

.its-link{
    position: relative;
    z-index:2;
}

.its-link:link, .its-link:visited{
    color: white;
}

.its-link:hover{
    color: red;
}
