@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/*font-family: 'Arvo', serif;
normal text*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;
Titles*/

html {
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #C0C0C0; 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


  /* Floating Social Media Bar Style Starts Here */

.fl-fl {
    background: #FFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 220px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font-family: 'Arvo', serif;
    /*font: normal normal 10px;*/
    font-size: 22px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fa {
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #000 !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
    font-size: 15px;
    padding-left: 25px;
}


.float-fb {
    top: 470px;
}

.float-ig {
    top: 525px;
}

#ig, #fb{
    width: 35px;
}

@media screen and (max-width: 600px) {
    .fl-fl {
        background: #FFF;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 4px;
        width: 220px;
        position: fixed;
        right: -200px;
        z-index: 1000;
        font-family: 'Arvo', serif;
        /*font: normal normal 10px;*/
        font-size: 22px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    
    .fa, .icon {
        font-size: 30px;
        padding: 0px 0;
        width: 40px;
        margin-left: -6px;
        margin-top: -8px;
    }
    
    .fl-fl:hover {
        right: 0;
    }
    
    .fl-fl a { /*TEXT*/
        color: #000 !important;
        text-decoration: none;
        text-align: center;
        line-height: 43px!important;
        vertical-align: top!important;
        font-size: 15px;
        padding-left: 25px;
    }
    
    
    .float-fb {
        top: 400px;
    }
    
    .float-ig {
        top: 455px;
    }
    
    #ig, #fb{
        width: 15px;
    }

}
  /* Floating Social Media Bar Style Ends Here */



#home{
    background-color: #15243C;
    color: white;
    text-align: center;
}

.logo{
    width: 450px;
    height: 300px;
}

.date{
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.buttons, .fb-chat{
    margin: 0% 1%;
    position: relative; 
    z-index:2;
}

.register{
    background-color: white;
}

.resume{
    background-color: white;
}

.parallax-one {
    padding-top: 200px; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%;
    background-image: url("../images/IMG_3394.JPG");
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    
}

.outer-div {
    position: relative;
}

.boxes-row {
    justify-content: center;
}

#goals{
    font-size: 1rem;
    font-weight: 200;
    padding: 30px;
}

.goals-item {
    z-index: 100;
    min-height: 100px;
    padding: 1.0rem !important;
    margin: 0.5rem;
    -webkit-box-shadow: 10px 8px 47px -14px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 8px 47px -14px rgba(0,0,0,0.3);
    box-shadow: 10px 8px 47px -14px rgba(0,0,0,0.3);
}

.text{
    color: black;
    margin: 0 3%;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
}

.text p, .text li{
    margin: 0 5%;

}

.about-title, .faq-title, .slider-title, .spon-title, .agenda-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}
.faq-title, .slider-title, .spon-title, .agenda-title{
    color: white;
}

@media screen and (max-width: 767px) {
    .about-title {
        /*font-size: 3.5em !important;*/
    }
    .parallax-one {
        padding-top: 50px; 
        padding-left: 0px; 
        padding-right: 0px; 
        padding-bottom: 50px; 
        overflow: hidden; 
        position: relative; 
        width: 100%;
        background-image: url("../images/IMG_3394.JPG");
        background-attachment: fixed; 
        background-size: cover;
        -moz-background-size: cover; 
        -webkit-background-size: cover; 
        background-repeat: no-repeat; 
        background-position: top center;
        
    }
    .text{
        font-size: 0.7rem !important;
    }
    #goals {
        font-size: 0.7rem !important;
    }
    .boxes-row {
        justify-content: space-evenly;
    }

    #registerbtn{
        margin-bottom: 20px;
    }
}

.slider-title{

    margin-left: -20px;
    padding-bottom: 20px;

}

#text{
    font-family: 'Arvo', serif;
    font-size: 1.2em;
}

.inside-text1{
    margin-left: 2.8%;
}

.li-text{
    margin-bottom: 50%;
}

#tabs{
    /* color: white; */
    font-weight: bold;
    font-family: 'Arvo', serif;
}

/* Agenda Css */
/* .grid-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Time Day-1 Day-1"
      "Time1 Promotional-Videos Promotional-Videos"
      "Time2 Opening-Ceremony Opening-Ceremony"
      "Time3 Company-Presentation Company-Booth"
      "Time4 Pop-Quiz Company-Booth"
      "Time5 Tech-Moment Company-Booth"
      "Time6 Promotional-Videos Company-Booth"
      "Time7 Closing-Speech-of-Day-1 Closing-Speech-of-Day-1"
      "Time8 Postmortem Postmortem";

}

.grid-container > .Day-1 { 

    grid-area: Day-1; 

}
.Time { grid-area: Time; }
.Time1 { grid-area: Time1; }
.Time2 { grid-area: Time2; }
.Time3 { grid-area: Time3; }
.Time4 { grid-area: Time4; }
.Time5 { grid-area: Time5; }
.Time6 { grid-area: Time6; }
.Time7 { grid-area: Time7; }
.Time8 { grid-area: Time8; }
.Promotional-Videos { grid-area: Promotional-Videos; }
.Opening-Ceremony { grid-area: Opening-Ceremony; }
.Company-Presentation { grid-area: Company-Presentation; }
.Pop-Quiz { grid-area: Pop-Quiz; }
.Tech-Moment { grid-area: Tech-Moment; }
.Promotional-Videos { grid-area: Promotional-Videos; }
.Company-Booth { grid-area: Company-Booth; }
.Closing-Speech-of-Day-1 { grid-area: Closing-Speech-of-Day-1; }
.Postmortem { grid-area: Postmortem; } */

.parent {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* background-color: #fff; */
    align-items: center;
    margin-top: 15px;
    font-family: 'Arvo', serif;
}

.parent > div{

    padding: 15px 15px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: black;
    font-weight: bold;

}

.parent > .div1 { grid-area: 1 / 1 / 2 / 4; background-color: #23687D;}
.parent > .div2 { grid-area: 2 / 1 / 3 / 2; background-color: #F4EDDD; max-height: 53px; font-size: 15px;}
.parent > .div3 { grid-area: 2 / 2 / 3 / 4; background-color: #F4EDDD;}
.parent > .div4 { grid-area: 3 / 1 / 4 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div5 { grid-area: 4 / 1 / 5 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div6 { grid-area: 5 / 1 / 6 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div7 { grid-area: 6 / 1 / 7 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div8 { grid-area: 7 / 1 / 8 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div9 { grid-area: 8 / 1 / 9 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div10 { grid-area: 9 / 1 / 10 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent > .div11 { grid-area: 3 / 2 / 4 / 4; background-color: #C1D1DB;}
.parent > .div12 { grid-area: 4 / 2 / 5 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent > .div13 { grid-area: 5 / 2 / 6 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent > .div14 { grid-area: 6 / 2 / 7 / 3; background-color: #C1D1DB;}
.parent > .div15 { grid-area: 7 / 2 / 8 / 3; background-color: #C1D1DB;}
.parent > .div16 { grid-area: 8 / 2 / 9 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent > .div17 { grid-area: 4 / 3 / 9 / 4; background-color: #FCEEB0; padding: 130px 0px;}
.parent > .div18 { grid-area: 9 / 2 / 10 / 4; background-color: #C1D1DB;}

.parent1 {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* background-color: #fff; */
    align-items: center;
    margin-top: 15px;
    font-family: 'Arvo', serif;
}

.parent1 > div{

    padding: 15px 15px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: black;
}

.parent1 > .div1 { grid-area: 1 / 1 / 2 / 4; background-color: #23687D;}
.parent1 > .div2 { grid-area: 2 / 1 / 3 / 2; background-color: #F4EDDD;}
.parent1 > .div3 { grid-area: 2 / 2 / 3 / 4; background-color: #F4EDDD;}
.parent1 > .div4 { grid-area: 3 / 1 / 4 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div5 { grid-area: 4 / 1 / 5 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div6 { grid-area: 5 / 1 / 6 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div7 { grid-area: 6 / 1 / 7 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div8 { grid-area: 7 / 1 / 8 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div9 { grid-area: 8 / 1 / 9 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div10 { grid-area: 9 / 1 / 10 / 2; background-color: #DFB2A2; max-height: 53px; font-size: 15px;}
.parent1 > .div11 { grid-area: 10 / 1 / 11 / 2; background-color: #DFB2A2;max-height: 53px; font-size: 15px;}
.parent1 > .div12 { grid-area: 3 / 2 / 4 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent1 > .div13 { grid-area: 4 / 2 / 5 / 3; background-color: #C1D1DB;}
.parent1 > .div14 { grid-area: 5 / 2 / 6 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent1 > .div15 { grid-area: 6 / 2 / 7 / 3; background-color: #C1D1DB; max-height: 53px; font-size: 15px;}
.parent1 > .div16 { grid-area: 7 / 2 / 8 / 3; background-color: #C1D1DB;}
.parent1 > .div17 { grid-area: 8 / 2 / 9 / 3; background-color: #C1D1DB;}
.parent1 > .div18 { grid-area: 9 / 2 / 10 / 3; background-color: #C1D1DB;}
.parent1 > .div19 { grid-area: 3 / 3 / 10 / 4; background-color: #FCEEB0; padding: 190px 0px;}
.parent1 > .div20 { grid-area: 10 / 2 / 11 / 4; background-color: #C1D1DB;}
    
.accordion{

    margin: 70px 0px;
	width: 100%;

}
.accordion .contentBx{

	position: relative;
	height: auto;
	margin: 10px 20px;

}
.accordion .contentBx .label{

	position: relative;
	padding: 10px;
	background: #15243c;
	color: #fff;
	cursor: pointer;
    opacity: 90%;

}
.accordion .contentBx .label:before{

	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;

}
.accordion .contentBx.active .label:before{

	content: '-';

}
.accordion .contentBx .content{

	opacity: 80%;
	overflow: hidden;
	height: 0;
	background: #fff;
	visibility: hidden;
	transition: 0.5s;
	overflow-y: auto; 

}
.accordion .contentBx.active .content{

	height: 200px;
	padding: 10px;
	visibility: visible;

}

.label, .content{
    font-family: 'Arvo', serif;
}

.container1 {
	width: 1200px;
	margin: 10px auto 0;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;	
    font-family: 'Arvo', serif;
}
		
.container1 .box1{
	position: relative;
	width: 250px;
	height: 250px;
    background: #ffffff;
	margin-left: auto;
        margin-right: auto;
	margin-top: 20px;
	box-sizing: border-box;
	display: inline-block; 
	font-family: 'Arvo', serif;
}
.container1 .box1 .imgBox1{
	position: relative;
	overflow: hidden;
    font-family: 'Arvo', serif;
}

.container1 .box1 .imgBox1 img{
	max-width:100%;
	transition: transform 2s;
    font-family: 'Arvo', serif;
}
		
.container1 .box1:hover .imgBox1 img{
	transform: scale(1.2);
    font-family: 'Arvo', serif;
}
		
.container1 .box1 .details1 {		
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	transform: scaleY(0);
    transition: transform .5s;
    font-family: 'Arvo', serif;	
}
		
.container1 .box1:hover .details1 {
    transform: scaleY(1);
    font-family: 'Arvo', serif;
		
}
		
.container1 .box1 .details1 .content1{		
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
    font-family: 'Arvo', serif;
}
		
.container1 .box1 .details1 .content1 h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;	
    font-family: 'Arvo', serif;
}
		
.container1 .box1 .details1 .content1 p{
	margin: 10px 0 0;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Arvo', serif;
}
/* Swiper Styles goes here*/
.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #15243c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 50px;
}

.swiper-slide img{

    height: 100%;
    width: 100%;

}

.swiper-button-prev{

    margin-left: 10px;

}

.swiper-button-next{

    margin-right: 10px;

}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media only screen and (max-width: 992px){



}

@media only screen and (max-width: 767px){

    .parent > .div12{

        max-height: 53px;

    }

    .parent > .div12 > .offset{

        margin-top: -10px;

    }

    .parent > .div13 {

        max-height: 53px;

    }

    .parent > .div13 > .offset{

        margin-top: -10px;

    }

    .parent > .div17{

        padding: 110px 0px;

    }

    .parent1 > .div12 { 
    
        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;
    
    }

    .parent1 > .div12 > p {

        margin-top: -10px;

    }

    .parent1 > .div13 { 
    
        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;
    
    }

    .parent1 > .div13 > p {

        margin-top: -10px;

    }

    .parent1 > .div14 { 
    
        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;
    
    }

    .parent1 > .div14 > p {

        margin-top: -10px;

    }

    .parent1 > .div15 { 
    
        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;
    
    }

    .parent1 > .div15 > p {

        margin-top: -10px;

    }
        
}

@media only screen and (max-width: 474px){

    .logo{
        width: 300px;
        height: 170px;
    }

}

@media only screen and (max-width: 469px){

    .parent > .div16{

        max-height: 53px;
        font-size: 15px;

    }

    .parent1 > .div18{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

@media only screen and (max-width: 449px){

    .parent > .div16 > .offset{

        margin-top: -10px;

    }

}

@media only screen and (max-width: 443px){

    .parent1 > .div13 > p{


        margin-top: -10px;

    }

}

@media only screen and (max-width: 435px){

    .parent1 > .div2{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

@media only screen and (max-width: 430px){

    .parent > .div2 {

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div4{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div5{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div6{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div7{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div8{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div9{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div10{

        max-height: 53px;
        font-size: 15px;

    }

    .parent > .div16{

        max-height: 53px;
        font-size: 15px;

    }

}

@media only screen and (max-width: 425px){

    .parent1 > .div5{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

@media only screen and (max-width: 416px){

    .parent > .div2 > .offset,
    .parent > .div4 > .offset,
    .parent > .div5 > .offset,
    .parent > .div6 > .offset,
    .parent > .div7 > .offset,
    .parent > .div8 > .offset,
    .parent > .div9 > .offset,
    .parent > .div10 > .offset{

        margin-top: -10px;

    }

    .parent1 > .div4,
    .parent1 > .div5,
    .parent1 > .div6,
    .parent1 > .div7,
    .parent1 > .div8,
    .parent1 > .div9,
    .parent1 > .div10,
    .parent1 > .div11{

        max-height: 53px;

    }


    .parent1 > .div4 > .offset,
    .parent1 > .div5 > .offset,
    .parent1 > .div6 > .offset,
    .parent1 > .div7 > .offset,
    .parent1 > .div8 > .offset,
    .parent1 > .div9 > .offset,
    .parent1 > .div10 > .offset,
    .parent1 > .div11 > .offset{

        margin-top: -10px;

    }

}

@media only screen and (max-width: 414px){

    .parent1 > .div6{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

    .parent1 > .div7{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

@media only screen and (max-width: 391px){


    .parent1 > .div8{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

    .parent1 > .div9{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

    .parent1 > .div10{

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

@media only screen and (max-width: 394px){

}

@media only screen and (max-width: 379px){


}

@media only screen and (max-width: 375px){

    .parent1 > .div11 {

        max-height: 53px;
        font-size: 15px;
        padding: 15px 0px;

    }

}

/*let this be lowest part of this css page*/
#footer{
    color: white;
}

.its-link{
    position: relative; 
    z-index:2;
}

.its-link:link, .its-link:visited{
    color: white;
}

.its-link:hover{
    color: red;
}
