@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/*font-family: 'Arvo', serif;
normal text*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;
Titles*/

#home{
    background-color: #15243C;
    color: white;
    text-align: center;
}

.logo{
    width: 300px;
    height: 200px;
}

.date{
    font-size: 2em;
}

.buttons{
    margin: 0% 1%;
}

.register{
    background-color: white;
}

.resume{
    background-color: white;
}

.parallax-one {
    padding-top: 200px; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%;
    background-image: url("../images/IMG_3394.JPG"); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    
}
.text{
    color: black;
    margin: 0 3%;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.8;
   
}
.text p, .text li{
    margin: 0 5%;

}

.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}

#text{
    font-family: 'Arvo', serif;
    font-size: 1.2em;
}

.inside-text1{
    margin-left: 2.8%;
}

.li-text{
    margin-bottom: 50%;
}

.accordion{

    margin: 70px 0px;
	width: 100%;

}
.accordion .contentBx{

	position: relative;
	height: auto;
	margin: 10px 20px;

}
.accordion .contentBx .label{

	position: relative;
	padding: 10px;
	background: #15243c;
	color: #fff;
	cursor: pointer;
	opacity: 90%;

}
.accordion .contentBx .label:before{

	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;

}
.accordion .contentBx.active .label:before{

	content: '-';

}
.accordion .contentBx .content{

	opacity: 80%;
	overflow: hidden;
	height: 0;
	background: #fff;
	visibility: hidden;
	transition: 0.5s;
	overflow-y: auto; 

}
.accordion .contentBx.active .content{

	height: 200px;
	padding: 10px;
	visibility: visible;

}