#home{
    background-color: #15243C;
    color: white;
    text-align: center;
}

.logo{
    width: 300px;
    height: 200px;
}

.date{
    font-size: 2em;
}

.buttons{
    margin: 0% 1%;
}

.register{
    background-color: white;
}

.resume{
    background-color: white;
}

.about{
    /*opacity: 0.5;*/
}

.parallax-one {
    padding-top: 200px; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%;
    background-image: url("../images/IMG_3394.JPG"); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    
}
.text{
    /*opacity: 1;*/
    color: black;
    margin: 0 3%;
    /*padding: 30%;*/
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.8;
   
}
.text p, .text li{
    margin: 0 5%;
    /*padding: 0 30%;*/
}

/*.iconDetails {
    margin-left:2%;
   float:right; 
   height:40px;
   width:40px; 
   } 
   
   .container2 {
       width:100%;
       height:auto;
       padding:1%;
   }h4 {
    margin:0px;
}*/