body{
	padding-bottom: 10%;
	/*position: sticky;*/
	}
	#city{
	  width: 80%;
	  height: 400px;
	  margin: auto;
	  display: block;
	}
	#nav{
	  background-color: #5eaaa8;
	}
	.dropdown-menu{
	  background-color: #5eaaa8;

	}
	.dropdown-menu a:hover{
	  background-color: #5eaaa8;
	  
	}
	.dropdown-item{
	  color: black; 
	}
	img{
	  width: 20%;
	  height: 20%;
	}
	#nav{
		background-color: #5eaaa8;
	}
	.nav-link {
		padding-left: .5em !important;
		padding-right: .5em !important;
	}
	/*.nav-link{
	  margin-top: 20%;
	}*/
	.container-fluid a{
	  font-size: 1.5em;
	  font-family: 'Lato', sans-serif;
	}