@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/*font-family: 'Arvo', serif;
normal text*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;
Titles*/

.container#sponsor{

	background-color: white;

}

.wrapper{

	padding: 20px 20px ;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.wrapper > .left-section{

	padding: 20px 20px;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.wrapper > .left-section > img{

	width: 100%;

}

.wrapper > .right-section{

	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;

}

section.bg-plat > .wrapper > .left-section,
section.bg-plat > .wrapper > .right-section{

	background-color: #E6FEFF;

}

section.bg-gold > .wrapper > .left-section,
section.bg-gold > .wrapper > .right-section{

	background-color: #FFF0B5;

}

section.bg-silver > .wrapper > .left-section,
section.bg-silver > .wrapper > .right-section{

	background-color: #C0C0C0;

}

.container1 {
	width: 1200px;
	margin: 10px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}
		
.container1 .box1{
	position: relative;
	width: 250px;
	height: 250px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block; 
		
}
.container1 .box1 .imgBox1{
	position: relative;
	overflow: hidden;
		
}
		
.container1 .box1 .imgBox1 img{
	max-width:100%;
	transition: transform 2s;
		
}
		
.container1 .box1:hover .imgBox1 img{
	transform: scale(1.2);
		
}
		
.container1 .box1 .details1 {		
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	transform: scaleY(0);
	transition: transform .5s;	
}
		
.container1 .box1:hover .details1 {
	transform: scaleY(1);
		
}
		
.container1 .box1 .details1 .content1{		
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
		
}
		
.container1 .box1 .details1 .content1 h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;		
}
		
.container1 .box1 .details1 .content1 p{
	margin: 10px 0 0;
	padding: 0px;
		
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
/*
.title {
    color: grey;
    font-size: 18px;
}
*/
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    /*font-size: 22px;*/
    color: #000;
}

button:hover, a:hover {
    opacity: 0.7;
}


/* CATEGORY TITLES */
.platinum-header, .gold-header, .silver-header{
	font-family: 'Bebas Neue', cursive;
	color: #FFFFFF;
	font-size: 5rem;
	
}

@media only screen and (max-width: 767px){

	.wrapper{

		padding: 20px 20px ;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}

	.wrapper > .left-section{

		padding: 20px 20px;
		background-color: #E6FEFF;
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	
	}

	.wrapper > .left-section > img{

		width: auto;
		max-width: 90%;
		height: 100%;

	}

	.wrapper > .right-section{

		padding: 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #E6FEFF;
		width: 100%;
	
	}

}